body{
    display: flex;
    flex-direction: column;
}
.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    color: #F1F7F6;
    background-color: #2CC295;
}
img{
    position: relative;
}
a{
    text-decoration: none;
}
p{
    max-width:60vw;
}
/* https://colorscheme.ru/#0251Tl.sS6pVw */